<div class="container">
  <div class="row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
        <p class="text-left">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員ではない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
      <h2 class="text-left"><strong>新着商品</strong></h2>
      <table class="table">
        <thead>
          <tr>
            <th>画像</th>
            <th>画像</th>
            <th>画像</th>
            <th>画像</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="text-left">
                <p>商品名</p>
                <p>値段</p>
              </div>
            </td>
            <td>
              <div class="text-left">
                <p>商品名</p>
                <p>値段</p>
              </div>
            </td>
            <td>
              <div class="text-left">
                <p>商品名</p>
                <p>値段</p>
              </div>
            </td>
            <td>
              <div class="text-left">
                <p>商品名</p>
                <p>値段</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
      <div class="text-right">
        <a href="items">すべての商品を見る></a>
      </div>
    </div>
  </div>
</div>